*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.hg
/.hgignore
/.idea
/app/*.gradle
/app/proguard-rules.pro
/app/src/androidTest/java/irongate/testweather/ExampleInstrumentedTest.java
/app/src/test/java/irongate/testweather/ExampleUnitTest.java
*.gradle
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
